@font-face {
  font-family: 'oswald-regular';
  src: url("../componentes/fontes/oswald/static/Oswald-Regular.ttf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "oswald-regular"; }

html, body {
  height: 100%; }

contexto {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 0 2%;
  border: 1px solid red;
  /* mobile*/ }
  @media screen and (max-width: 414px) {
    contexto {
      width: 100%;
      padding: 3%; } }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0;
  /* ipad */
  /* mobile*/
  /* mobile iphone 5*/ }
  @media screen and (max-width: 768px) {
    header {
      flex-wrap: wrap;
      justify-content: center; } }
  @media screen and (max-width: 414px) {
    header {
      justify-content: space-between; } }
  @media screen and (max-width: 320px) {
    header {
      width: 100vw; } }
  header .menu-mobile {
    display: none;
    /* mobile*/
    /* mobile iphone 5*/ }
    @media screen and (max-width: 414px) {
      header .menu-mobile {
        display: block; }
        header .menu-mobile img {
          cursor: pointer; } }
    @media screen and (max-width: 320px) {
      header .menu-mobile {
        position: relative;
        left: -10%; } }
  header .menu {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    /* ipad pro*/
    /* ipad */
    /* mobile*/ }
    @media screen and (max-width: 1024px) {
      header .menu {
        width: 70%; } }
    @media screen and (max-width: 768px) {
      header .menu {
        width: 100%;
        justify-content: center;
        margin-top: 2%; } }
    @media screen and (max-width: 414px) {
      header .menu {
        display: none;
        width: 100%;
        position: absolute;
        top: 15%;
        left: 0;
        padding: 2% 0;
        background-color: #eb3f2a; } }
    header .menu a {
      color: #000;
      font-style: italic;
      font-size: 18px;
      padding: 2%;
      text-decoration: none;
      /* mobile*/ }
      @media screen and (max-width: 414px) {
        header .menu a {
          display: block;
          margin-bottom: 2%;
          color: #fff;
          font-size: 22px;
          text-align: center; } }

.index-banner {
  background-color: #000;
  padding: 2% 0;
  /* mobile iphone 5*/ }
  @media screen and (max-width: 320px) {
    .index-banner {
      width: 100vw; } }
  .index-banner__container {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .index-banner__col {
    position: absolute;
    left: 25%;
    z-index: 999; }
  .index-banner__texto {
    width: 90%;
    height: 8%;
    background-image: url("../imagens/box-text.png");
    background-size: cover;
    padding: 2% 15% 3%;
    margin-bottom: 3%;
    display: flex; }
    @media screen and (max-width: 768px) {
      .index-banner__texto {
        position: relative;
        left: -40%; } }
    @media screen and (max-width: 414px) {
      .index-banner__texto {
        left: -20%;
        top: -80px; } }
    .index-banner__texto:nth-of-type(2) {
      width: 80%; }
    .index-banner__texto:nth-of-type(3) {
      width: 70%; }
    .index-banner__texto:last-of-type {
      width: 90%;
      min-width: 240px;
      background-image: url("../imagens/box-white-text.png");
      /* mobile iphone 5*/ }
      .index-banner__texto:last-of-type p {
        color: #000;
        font-size: 20px;
        /* mobile iphone 5*/ }
        @media screen and (max-width: 320px) {
          .index-banner__texto:last-of-type p {
            position: relative;
            left: -25%; } }
      @media screen and (max-width: 320px) {
        .index-banner__texto:last-of-type {
          width: 75%; } }
    .index-banner__texto p {
      color: #fff;
      font-size: 22px; }
  .index-banner__carro {
    width: 60%;
    height: 400px;
    background-image: url("../imagens/bg.jpg");
    background-size: contain;
    background-repeat: no-repeat; }
    @media screen and (max-width: 768px) {
      .index-banner__carro {
        width: 75%;
        background-size: cover; } }
    @media screen and (max-width: 414px) {
      .index-banner__carro {
        width: 100%; } }

.titulo-linha__linha {
  width: 100%;
  height: 5px;
  background-color: #000;
  position: relative;
  top: 65px; }
  @media screen and (max-width: 768px) {
    .titulo-linha__linha {
      top: 40px; } }
.titulo-linha__titulo {
  text-transform: uppercase;
  padding: 2% 3%;
  background-color: #fff;
  text-align: center;
  position: absolute;
  left: 50%;
  font-size: 30px;
  transform: translateX(-50%); }
  @media screen and (max-width: 414px) {
    .titulo-linha__titulo {
      font-size: 25px; } }

.titulo-simples {
  color: #fff;
  text-transform: uppercase;
  font-style: italic;
  font-size: 25px; }

.index-veiculoEmDestaque {
  padding: 2% 0; }
  .index-veiculoEmDestaque__container {
    display: flex;
    justify-content: space-between;
    padding: 10% 0; }
    @media screen and (max-width: 768px) {
      .index-veiculoEmDestaque__container {
        flex-direction: column;
        align-items: center; } }
  .index-veiculoEmDestaque__imagem {
    width: 100%;
    height: 300px;
    box-shadow: 1px 1px 2px #585858;
    margin-bottom: 2%; }
  .index-veiculoEmDestaque__carro {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-style: italic; }
    @media screen and (max-width: 768px) {
      .index-veiculoEmDestaque__carro {
        width: 90%;
        margin: 4% 0; } }
    @media screen and (max-width: 414px) {
      .index-veiculoEmDestaque__carro:first-of-type {
        margin-top: 20%; } }
    .index-veiculoEmDestaque__carro p {
      color: #363636; }

#carro01 {
  background-image: url("../imagens/carro01.jpg");
  background-size: cover;
  background-position: center; }

#carro02 {
  background-image: url("../imagens/carro02.jpg");
  background-size: cover;
  background-position: center; }

#carro03 {
  background-image: url("../imagens/carro03.jpg");
  background-size: cover;
  background-position: center; }

.botao-mais-detalhes {
  display: block;
  width: 50%;
  height: 35px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 5%;
  background-color: #eb2d2d;
  line-height: 0px;
  margin: 5% 0; }

.index-servicosDepoimentos {
  display: flex; }
  @media screen and (max-width: 414px) {
    .index-servicosDepoimentos {
      flex-direction: column; } }
  .index-servicosDepoimentos contexto {
    width: 70%; }
    @media screen and (max-width: 1024px) {
      .index-servicosDepoimentos contexto {
        width: 90%; } }
  .index-servicosDepoimentos__single {
    width: 50%;
    color: #fff;
    padding: 5% 0;
    font-size: 18px; }
    @media screen and (max-width: 414px) {
      .index-servicosDepoimentos__single {
        width: 100%; } }
    .index-servicosDepoimentos__single h2 {
      margin-bottom: 5%; }
    .index-servicosDepoimentos__single li {
      list-style-position: inside; }
    .index-servicosDepoimentos__single a {
      max-width: 150px;
      margin: 0; }
      @media screen and (max-width: 768px) {
        .index-servicosDepoimentos__single a {
          margin: 5% 0; } }
  .index-servicosDepoimentos__servicos {
    background-color: #242424; }
  .index-servicosDepoimentos__depoimentos {
    background-color: #eb2d2d; }
    .index-servicosDepoimentos__depoimentos blockquote {
      margin-bottom: 5%; }
  .index-servicosDepoimentos__flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .index-servicosDepoimentos__flex {
        flex-direction: column;
        align-items: flex-start; } }
  .index-servicosDepoimentos__flex-2 {
    display: flex;
    justify-content: flex-start; }
  .index-servicosDepoimentos__autor {
    color: #000;
    padding-left: 20%; }

/*# sourceMappingURL=style.css.map */
