.botao-mais-detalhes{
        display: block;
        width: 50%;
        height: 35px;
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        padding: 5%;
        background-color: $vermelho2;
        line-height: 0px;
        margin: 5% 0;
}