.vitrine{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10% 0;
        flex-wrap: wrap;

        @media screen and (max-width: 768px){
                padding: 20% 0;
        }

        @media screen and (max-width: 414px){
                flex-direction: column;
                align-items: center;
        }

        &__imagem{
                width: 100%;
                height: 300px;
                box-shadow: 1px 1px 2px #585858;
                margin-bottom: 2%;
        }

        &__carro{
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                font-style: italic;

                @media screen and (max-width: 1024px){
                       width: 48%;
                       margin: 4% 0;
                }

             
                @media screen and (max-width: 414px){
                        width: 90%;
                       
                        &:first-of-type{
                                margin-top: 20%;
                        }
                 }

                p{
                        color: #363636;
                }

        }
}


#carro01{
        background-image: url("../imagens/carro01.jpg");
        background-size: cover;
        background-position: center;
}

#carro02{
        background-image: url("../imagens/carro02.jpg");
        background-size: cover;
        background-position: center;
}

#carro03{
        background-image: url("../imagens/carro03.jpg");
        background-size: cover;
        background-position: center;
}