

.titulo-linha{

        &__linha{
                width: 100%;
                height: 5px;
                background-color: #000;
                position: relative;
                top: 65px;

                @media screen and (max-width: 768px){
                       top: 40px;
                }
        }

        &__titulo{
                text-transform: uppercase;
                padding: 2% 3%;
                background-color: #fff;
                text-align: center;          
                position: absolute;
                left: 50%;
                font-size: 30px;
                transform: translateX(-50%);

                @media screen and (max-width: 414px){
                        font-size: 25px;
                 }
        }
}