header{
        border-bottom: 2px solid $vermelho2;

        contexto{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1% 0;

                @media screen and (max-width: 1024px){
                        width: 70%;
                }

                @media screen and (max-width: 414px){
                       padding: 3% 0;
                }
        }

        .logo{
                @media screen and (max-width: 414px){
                       position: relative;
                       left: 4%;
                 }

        }

          /* ipad */
          @media screen and (max-width: 1024px){
                flex-wrap: wrap;
                justify-content: center;
        }

          /* mobile*/
          @media screen and (max-width: 414px){
               justify-content: space-between;
        }

           /* mobile iphone 5*/
           @media screen and (max-width: 320px){
               width: 100vw;
         }

        .menu-mobile{
                display: none;

                /* mobile*/
                @media screen and (max-width: 414px){
                        display: block;
                        position: relative;
                        left: -5%;

                        img{
                                cursor: pointer;
                        }
                }

                /* mobile iphone 5*/
                        @media screen and (max-width: 320px){
                                position: relative;
                                left: -10%;
                        }

        }

        .menu{
                width: 60%;
                display: flex;
                justify-content: flex-end;


                 /* ipad */
                 @media screen and (max-width: 1024px){
                        width: 100%;
                        justify-content: center;
                        margin-top: 2%;
                }

                /* mobile*/
                @media screen and (max-width: 414px){
                        display: none;
                        width: 100%;
                        position: absolute;
                        top: 15%;
                        left:0;
                        padding: 2% 0;
                        background-color: $vermelho;
                        z-index: 999;
                }

                a{
                        color: #000;
                        font-style: italic;
                        font-size: 18px;
                        padding: 2%;
                        text-decoration: none;

                        /* mobile*/
                        @media screen and (max-width: 414px){
                                display: block;
                               margin-bottom: 2%;
                               color: #fff;
                               font-size: 22px;
                               text-align: center;
                        }
                }
        }
        
}

